{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
<p>Five latest users:</p>
{% if latest_user_list %}
<ul>
    {% for user in latest_user_list %}
    <li>{{ user.name }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No users are available.</p>
{% endif %}
<p>Register a new user:</p>
<form action="{% url 'polls:register' %}" method="post">
    {% csrf_token %}
    <label for="Name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="">
    <label for="Password">Password: </label>
    <input id="password" type="password" name="password" value="">
    <input type="submit" value="OK">
</form>
<p>Log in:</p>
<form action="{% url 'polls:login' %}" method="post">
    {% csrf_token %}
    <label for="Login_name">Your name: </label>
    <input id="login_name" type="text" name="login_name" value="">
    <label for="Login_password">Password: </label>
    <input id="login_password" type="password" name="login_password" value="">
    <input type="submit" value="OK">
</form>